import React from 'react';

import { storiesOf } from '@storybook/react';
import { withKnobs } from '@storybook/addon-knobs';
import { withInfo } from "@storybook/addon-info";

import {{ properCase name }} from './index';

storiesOf('{{ properCase name }}', module)
.addDecorator(withKnobs)
.add(
  'basic',
  withInfo(`This is the basic {{ properCase name }} component.`)(() => (
    <{{ properCase name }}>

    </{{ properCase name }}>
  ))
);
