$color-blue: #4da1ff;
$color-light-grey: #fafbfc;
$color-pinkish-grey: #cccccc;
$color-bluish-white: #f4f8f9;

$primary-color: $color-blue;

$profile-pic-size: 7.5em;
$profile-pic-size-small: $profile-pic-size / 5;

$navbar-height: 5em;

$border-radius: 0.15rem !default;
$border-radius-lg: 0.2rem !default;
$border-radius-sm: 0 0.5rem !default;
