$ui-color: #f2d600;
$linkedin-color: #0077b5;
$facebook-color: #3b5998;
$google-color: #4da1ff;

.btn.btn-default.btn-flat {
  position: relative;
  padding: 10px;
  border: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;

  .btn-icon {
    position: absolute;
    top: 0;
    left: 7px;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  &.btn-ui {
    background-color: $ui-color;
    color: white;

    &:hover {
      background-color: darken($ui-color, 5);
    }

    &:active {
      background-color: darken($ui-color, 10);
    }
  }
  &.btn-linkedin {
    background-color: $linkedin-color;
    color: white;

    &:hover {
      background-color: darken($linkedin-color, 5);
    }

    &:active {
      background-color: darken($linkedin-color, 10);
    }
  }
  &.btn-facebook {
    background-color: $facebook-color;
    color: white;

    &:hover {
      background-color: darken($facebook-color, 5);
    }

    &:active {
      background-color: darken($facebook-color, 10);
    }
  }
  &.btn-google {
    background-color: $google-color;
    color: white;

    &:hover {
      background-color: darken($google-color, 5);
    }

    &:active {
      background-color: darken($google-color, 10);
    }
  }
}

.thumbnail__container {
  background: url("../../img/thumbnail@3x.png") center center;
  background-size: cover;
  color: white;
  min-height: 80vh;
}

.box-rounded {
  overflow: hidden;
}

.hero__container {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(213, 213, 255, 0.51);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.form__container {
  margin-right: -5em;
  z-index: 99;
}

.form__outer {
  z-index: 99;
}